
body {
      background-color: linen;
      color: green;
      font-family: Arial, sans-serif;
      text-align: center;
      padding: 30px;
    }

    #profileImg {
      display: none;
      margin-top: 20px;
      width: 300px;
      border-radius: 10px;
    }

    button {
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      margin-top: 20px;

      
    }